
body {
  background-color: #192444;
  margin: 5%;
}

#title {
  text-align: center;
}

.create_container2 {
  border-radius: 15px;
  background-color: #1f2c56;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px 2px #1f2c56;


}

.create_container1 {
  margin: 0 auto;
  }

.dcc_compon {
  margin: 0 auto;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
font-size: 15px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
